<h1>Countries:</h1>

<!--

<ul>
  <li *ngFor="let country of countries$">
    <a routerLink="/{{country.id}}">{{ country.name }}</a>

   
  </li>
</ul>
-->

<!--
  <ul>
    <li *ngFor="let c of countries$">
     
        <img src="{{c.flag}}">
     
      <h2>{{c.name}}</h2>
      <p>Capital: {{c.capital}}, Region: {{c.region}}</p>
    </li>
  </ul>

-->
<input  [(ngModel)]="searchText" placeholder="search text goes here">
<ul>
  <li *ngFor="let c of countries$ | filter : searchText">
    {{c.name}}
  </li>
</ul>
